body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #f1f5fe;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

/* ========================================================================== */
/*                                    TITLE                                   */
/* ========================================================================== */
.title {
  background-image: url(../images/pattern-circles.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  padding: 2rem;

  h1 {
    font-size: 2rem;
  }

  span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0rem;
    color: #9fa6b7;

    span:nth-of-type(1) {
      width: 100%;
      padding: 0;
    }
  }
}

/* ========================================================================== */
/*                                     BOX                                    */
/* ========================================================================== */
.box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px -5px black;

  max-width: 1000px;
}

/* ========================================================================== */
/*                                BOX-INTERACTE                               */
/* ========================================================================== */
.box-interacted {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.224);
  /* ---------------------------------- title --------------------------------- */
  .box-inter-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      color: #9fa6b7;
      align-self: baseline;

      strong {
        width: 75px;
        font-weight: 700;
        font-size: 2.5rem;
        color: black;
      }
    }

    h2:nth-of-type(1) {
      width: 150px;
      order: 1;
    }
    h2:nth-of-type(2) {
      width: 200px;
      order: 2;
    }

    .range {
      position: relative;
      order: 3;
      padding: 0rem 0;
      display: block;
      width: 100%;
      height: 10px;
      filter: opacity(0.8);
      cursor: pointer;

      -webkit-appearance: none;
      appearance: none;
      background: #26aba0a5;
      border-radius: 100px;

      &:hover {
        filter: opacity(1);
      }

      &::-webkit-slider-thumb {
        z-index: 4;
        -webkit-appearance: none;
        background-image: url(../images/icon-slider.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;

        width: 40px;
        height: 40px;
        background-color: #26ab9f;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }

  /* --------------------------------- choose --------------------------------- */
  .box-inter-choose {
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.8rem;
    color: #9fa6b7;

    strong {
      padding: 0.2rem 0.5rem;
      border-radius: 100px;
      background: #fcebeb;
      color: #fcac90;
      text-align: center;

      &:nth-of-type(2) {
        display: none;
      }
    }
    // checkbox
    .toogle {
      position: relative;
      padding: 0 0.5rem;

      // check
      input {
        top: 0px;
        position: absolute;
        opacity: 0;

        &:checked ~ .box-check > .ball {
          left: 53%;
        }

        &:checked ~ .box-check {
          background: #26ab9f;
        }
      }

      // bang check
      .box-check {
        position: relative;
        background: #d0d8ef;
        width: 45px;
        height: 22px;
        border-radius: 100px;
        display: block;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }

        .ball {
          position: absolute;
          top: 3px;
          left: 10%;
          width: 16px;
          height: 16px;
          background: white;
          border-radius: 50%;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

/* ========================================================================== */
/*                                  BOX-TRIAL                                 */
/* ========================================================================== */
.box-trial {
  padding: 2rem;

  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ---------------------------------- check --------------------------------- */
  .box-trial-check {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      color: #9fa6b7;
    }
  }
  button {
    padding: 0.8rem 2.5rem;
    border-radius: 100px;
    border: none;
    outline: none;
    background: #293356;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: #0831c4;
    }
  }
}
